@charset "UTF-8";


#gnb>li {
  width: 100%;
  background-color: darkblue;
  text-align: center;
  padding: 10px 15px;
}
#gnb>li:hover {
  background-color: skyblue;
}
#gnb>li>a {
  color: white;
}
#gnb>li>ul {
  width: 100%;
  background-color: white;
  text-align: center;
  left: 0;
  top: 100%;
}
#gnb>li>ul>li:hover {
  background-color: skyblue;

}
#gnb::before {
  content: "";
  background-color: white;
  /* overflow: hidden; */
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transition: .5s;
}

/* 호버 애니메이션 */
#gnb ul{
  overflow: hidden;
  height: 0;
  transition: .5s;
}
#gnb:hover ul {
  height: 120px;
}
#gnb:hover::before {
  height: 120px;
}

.swiper-slide {
  transition: 1s;
  opacity: 0;
}
.swiper-slide.on {
  z-index: 9;
  opacity: 1;
}

.tab h2 {
  cursor: pointer;
}
.tab .on h2 {
  color: darkblue;
}
.tab .notice ul {
  flex-direction: column;
}
.tab ul {
  display: none;  
  left: 0;
}
.tab .on ul {
  display: flex;
}
.gallery ul li{
  margin: 0 10px;
}

#popup {
  display: none;
  z-index: 9;
}