#hd {
  background-color: skyblue;
  padding: 0 15px;
}
#hd h1 {
  font-size: 2rem;
  font-weight: bold;
}
#hd h1 a{
  color: white;
}

/* 대메뉴 */
#gnb>li>a{
  font-size: 20px;
  padding: 10px 25px;
  background-color: darkblue;
  color: white;
  display: block;   
  /* d-block 줘야 높이 스타일 먹힘 */
}
/* 소메뉴 */
#gnb ul {
  background-color: white;
  line-height: 2.5;
  left: 0;
  right: 0;
  top: 100%;
  text-indent: 15px;

  /* 소메뉴 애니메이션 */
  max-height: 0;
  overflow: hidden;
  transition: .5s;
}
#gnb li:hover ul {
  max-height: 120px;
}

/* 대메뉴 호버시 활성화 */
#gnb li:hover>a {
  color: darkblue;
  background-color: white;
  font-weight: bold;
}

/* 공지와 갤러리 */
.tab h2 {
  line-height: 40px;
}
.tab ul {
  left: 0;
  right: 0;
  top: 40px;
  background-color: white;

  /* js로 컨트롤 */
  display: none;
  padding: 15px;
  box-sizing: border-box;
  line-height: 2;
}
.tab h2 {
  margin: 0 15px;
  cursor: pointer;
}
.tab .on h2 {
    color: #0c51a6
}

.tab .on ul {
    display: flex;
    /* block으로 하면 갤러리 이미지가 아래로 가기때문에 flex로 */
}

.tab .notice ul {
  flex-direction: column;
}